@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Poppins:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  @apply bg-slate-50 text-ink dark:bg-[#1e1e1e] dark:text-gray-200;
}
